* {
    box-sizing: border-box;
}

/* heaser color */
#headerId {
    background-color: #1C1C1C;
    padding: 80px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

#footerEnd {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* fix the text to the left */
pre{
    text-align: left;
}
